/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* RESET PART OF THE WEB PAGE */
/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable for colors */
:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #e1ebf5;
  --third-text-color: #000000;
  --accent-color: #ffffff;
  --accent-color-dark: #0b978e;
  --padding-inline-section: 20px;
  --background-color: #006e75;
}

/* tag selector */
body {
  font-family: "Inter", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: var(--secondary-text-color);
  line-height: 1.8r;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* Utility Class  */
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
  color: #fffded;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}

.flex {
  display: flex;
  align-items: center;
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
}

.hover-link:hover {
  color: var(--accent-color-dark);
}

.primary-btn {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: black !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.5s ease-out;
}

.primary-btn:hover {
  background-color: var(--accent-color-dark);
}

/* Responsive Navbar */
:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
}
#navbar {
  --navbar-height: 74px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--background-color);
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding-block: 5px;
  z-index: 10;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}


.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
  font-size: 1.2rem;
}

.navbar-link:is(:focus, :hover) {
  color: black;
  background-color:#d4ecff;
}
.navbar-logo img {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-block: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
/* Contact Form */

/* Style the form container */
.contect-datails .img {
  height: 300px;
  width: 500px;
  background: url(images/googlemapimg.png) center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.contect-datails p {
  color: var(--third-text-color);
  line-height: 1.8rem;
}
.form-container {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: lavender;
}
.form-container h1 {
  text-align: center;
  font-size: 2rem;
  padding: 10px 10px 20px 10px;
}
.label-text {
 color: #CD5C08;
}
/* Style input fields */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 1.2rem;
  resize: vertical;
}
.captcha-code {
  display: flex;
  max-width: 50%;
}
.captcha-code .captcha-input {
  margin-right: 10px;
}

#captchaCode {
  padding: 8px 20px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}
/* Style the submit button */
button[type="submit"] {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  padding: 15px 30px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #CD5C08;
}


@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/* Header section  */
header {
  padding: 50px var(--padding-inline-section) 0;
}

.header-section {
  justify-content: center;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.header-left {
  max-width: 100vw;
}

.header-left h1,
p {
  margin-top: 20px;
}
.header-left p{
  color: lightblue;
  margin-left: 0px;
}
.header-right img {
  width: 500px;
  border-radius: 10px;
}


/* Services card */
.services-card {
  flex-direction: column;
  gap: 20px;
  max-width: 40%;
  background-color: #e1ebf5;
  border-radius: 20px;
  padding: 20px;
}

.services-card img {
  width: 50px;
}

.services-card p {
  color: var(--accent-color-dark);
}

/* Services Section */
.services-section {
  padding: 80px var(--padding-inline-section) 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  color: var(--third-text-color);
 
}
.services-header {
  text-align: center;
}
.services-header p {
  color: #006e75;
}

.services-heading-text {
  margin-bottom: 20px;
}
.services-area {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
  margin-top: 20px;
  padding-bottom: 20px;
}
.list-items li {
  margin-left: 30px;
  list-style-type: circle;
  color: var(--accent-color-dark);
}
/* new container classes */
.main-card-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 30px;
}

.container-one {
  width: 400px;
  min-height: 350px;
  background-color: #fffded;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 4px #d4ecff;
}

.container-one h3,
p,
h4 {
  margin: 5px;
  padding: 5px;
}

.container-one p {
  color: var(--accent-color-dark);
}

.container-one:hover {
  box-shadow: 1px 1px 8px #d4ecff;
  transform: translateY(-5px);
  background-color: #f9fdff;
  cursor: pointer;
}

.container-one img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* About Section */
.big-blog-section {
  padding: 30px var(--padding-inline-section) 0;
  background-color: #ffffff;
  color: var(--third-text-color);
}

.big-blog-container {
  gap: 30px;
}

.big-blog-left img {
  width: 200px;
}

.big-blog-container p {
  color: var(--accent-color-dark);
}

.big-blog-right {
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}

/* Career section */
.career-section-container {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: white;
}

.career-section {
  padding: 120px var(--padding-inline-section) 80px;
  background-color: var(--background-color);
}
.career-section-container .career-heading{
  margin-left: 0;
  padding-left: 0;
}
.career-section-container p {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin-top: 10px;
}

/* footer section */
footer {
  padding-top: 50px;
  background-color: #fffded;
  color: #061d29;
}

.footer-section {
  align-items: flex-start;
  justify-content: space-between;
}

.about-us {
  max-width: 500px;
  color: var(--third-text-color);
}


.product-item ul {
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-item ul li a {
  color: #061d29;
  margin: 11px;
}

.product-item ul li a i {
  margin-right: 10px;
}

.product-item h3 {
  margin-bottom: 10px;
}

.staffing-box {
  padding-bottom: 30px;
}
.boxes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  background-color: #e1ebf5;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.boxes:hover{
  background-color: #006e75;
  color: white;
  cursor: pointer;
}
.boxes h4 {
  font-size: 1.2rem;
}

.boxes img{
  width: 60px;
  border-radius: 10%;
  background-size: cover;
  margin-block: 10px;
  margin-inline: 20px;
}

.footer-links{
  display: flex;
}

/* Media quiry for tablet device */
@media screen and (max-width : 780px) {
  .header-section {
    display: flex;
    flex-wrap: wrap;
  }

  .header-left {
    max-width: 90vw;
  }

  .services-card {
    max-width: 45%;
  }
  .product-item ul {
    margin: 40px;
  }

  .product-item h3 {
    margin-left: 40px;
  }
  .contect-datails .img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
  }

}

/* Media quiry for mobile device */
@media screen and (max-width : 430px) {
  .nav-links ul {
    display: none;
  }

  .nav-links .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
  }

  .header-section {
    display: flex;
    flex-wrap: wrap;
  }

  .header-right img {
    width: 350px;
  }

  .services-card {
    max-width: 100%;
  }

  .big-blog-container {
    flex-direction: column;
  }

  .footer-section {
    flex-direction: column;
  }

  .product-item h3 {
    margin-top: 30px;
  }
  
  .product-item ul {
    gap: 8px;
  }

  .logos {
    flex-wrap: nowrap;
    gap: 20px;
    padding: 40px;
  }
  .contect-datails .img {
    width: 340px;
    height: 200px;
  }

   .footer-links{
    display: flex;
    flex-direction: column; 
  }

}
